@page
@model Dobre_Lucia_Corina_proiect.Pages.Distributors.IndexModel

@{
    ViewData["Title"] = "Distributors Index";
}

<h1>Distributors</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Distributor[0].DistributorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distributor[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Distributor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistributorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
